{% from "file_tree.html" import render_tree with context %}

<div class="collapse no-transition" id="sidebar">
    <div class="p-2 gap-2 border-end h-100 d-flex flex-column shadow-sm position-absolute no-transition start-0 top-0 ui-layer"
        style="width: 20em;">
        <a type="button" class="btn btn-primary btn-sm" id="btn-new-model" data-bs-toggle="modal"
            data-bs-target="#newModelModal">
            <i class="bi bi-file-earmark-plus-fill"></i>
            New model
        </a>
        <a type="button" class="btn btn-secondary btn-sm" id="btn-import-model" data-bs-toggle="modal"
            data-bs-target="#openModelModal">
            <i class="bi bi-folder-fill"></i>
            Open model
        </a>
        <hr>
        <a type="button" class="btn btn-secondary btn-sm" id="btn-import-model" data-bs-toggle="modal"
            data-bs-target="#todoModal">
            <i class="bi bi-download"></i>
            Import model
        </a>
        <a type="button" class="btn btn-secondary btn-sm" id="btn-export-model" data-bs-toggle="modal"
            data-bs-target="#todoModal">
            <i class="bi bi-folder-symlink-fill"></i>
            Export model
        </a>
        <a type="button" class="btn btn-secondary btn-sm" id="btn-share" data-bs-toggle="modal"
            data-bs-target="#todoModal">
            <i class="bi bi-share-fill"></i>
            Share Model
        </a>
        <hr>
        <h6 class="text-muted">Simulation queue</h6>
        <div class="overflow-x-scroll flex-fill border-top border-bottom">
            {% include("simulation_queue.html") %}
        </div>
        <a type="button" class="btn mt-1 btn-primary btn-sm w-100" id="btn-simulate" data-bs-toggle="modal"
            data-bs-target="#newSimulationModal">
            <i class="bi bi-database-fill-gear"></i>
            Simulate
        </a>
    </div>
</div>