<!DOCTYPE html>
<html>

{% include('boilerplate/head.html') %}

<body>
    <div class="d-flex flex-column vh-100">
        <div class="d-flex flex-row flex-grow-1">
            <div class="d-flex flex-column flex-fill">
                {% include('editor_toolbar.html') %}
                <div class="position-relative h-100">
                    {% include('canvas.html') %}
                    {% include('panels/sidebar_panel.html') %}
                    {% include('panels/inspector_panel.html') %}
                </div>
            </div>
        </div>
    </div>

    {% include('modals/todo_modal.html') %}
    {% include('modals/clear_modal.html') %}
    {% include('modals/new_model_modal.html') %}
    {% include('modals/open_model_modal.html') %}
    {% include('modals/new_simulation_modal.html') %}
    {% include('modals/save_preset_modal.html') %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% include('boilerplate/scripts.html') %}
</body>

</html>