<button class="d-none" type="button" data-bs-toggle="modal" data-bs-target="#disconnectedModal"
    id="openDisconnedtedModalButton"></button>
<div class="modal fade" id="disconnectedModal" tabindex="-1" aria-labelledby="disconnectedModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disconnectedModalLabel">Disconected</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Disconnected
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>