{% from "file_tree.html" import render_tree with context %}

<div class="modal fade" id="openModelModal" tabindex="-1" role="dialog" aria-labelledby="openModelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="openModelModalLabel">Open model</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-muted">Select a model to open:</p>
                {{ render_tree(file_tree, "") }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>