<div class="btn-toolbar gap-2 p-2 border-bottom align-items-center shadow-sm ui-layer" role=" toolbar">
    <button type="button" class="btn btn-outline-secondary btn-sm" id="btn-hamburger" data-bs-toggle="collapse"
        data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar"
        onclick="this.classList.toggle('active')">
        <i class="bi bi-list"></i>
        Menu
    </button>
    <ul class="dropdown-menu p-2" aria-labelledby="btn-open-model">
        {% from "file_tree.html" import render_tree with context %}
        {{ render_tree(file_tree, "") }}
    </ul>
    <div class=" flex-fill">
    </div>
    {% for button in toolbar_buttons %}
    <button type="button" class="btn btn-outline-{{ button.color }} btn-sm" id="btn-{{ button.id }}" {% for attr, value
        in button.attributes.items() %}{{ attr }}="{{ value }}" {% endfor %}>
        <i class="bi bi-{{ button.icon }}"></i>
        {{ button.label }}
    </button>
    {% endfor %}
    <div class="flex-fill d-flex align-items-center justify-content-center gap-1">
        <div class="badge text text-nowrap text-muted
            ">Collaborators:</div>
        <div id="collaborators" class="d-flex align-items-center justify-content-center gap-1"></div>
    </div>
    <div class="position-relative">
        <div id="save-success-alert" class="fade mt-1 position-absolute start-0 pe-1"
            style="transform: translateX(-100%)" type="alert">
            <i class="bi bi-check-circle-fill text-success mt-1" id="save-success"></i>
        </div>
        <button type="button" class="btn btn-success btn-sm disabled" id="btn-save">
            <i class="bi bi-save-fill"></i>
            Save Changes
        </button>
    </div>

</div>