<div class="btn-toolbar gap-2 p-2 border-bottom" role="toolbar">
    <button type="button" class="btn btn-outline-secondary btn-sm" id="btn-create-transition">
        <i class="bi bi-plus-square-fill"></i>
        Create Transitions
    </button>
    <button type="button" class="btn btn-outline-secondary btn-sm" id="btn-create-place">
        <i class="bi bi-plus-circle-fill"></i>
        Create Places
    </button>
    <button type="button" class="btn btn-outline-secondary btn-sm" id="btn-connect">
        <i class="bi bi-arrow-left-right"></i>
        Connect Nodes
    </button>
    <button type="button" class="btn btn-outline-secondary btn-sm" id="btn-delete">
        <i class="bi bi-eraser-fill"></i>
        Delete Nodes
    </button>
    <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#clearModal">
        <i class="bi bi-trash3-fill"></i>
        Clear
    </button>
    <div class="flex-fill"></div>
    <div id="save-success-alert" class="fade mt-1" type="alert">
        <i class="bi bi-check-circle-fill text-success mt-1" id="save-success"></i>
    </div>
    <button type="button" class="btn btn-success btn-sm disabled" id="btn-save">
        <i class="bi bi-save"></i>
        Save Changes
    </button>
    <button type="button" class="btn btn-primary
    btn-sm" id="btn-share" data-bs-toggle="modal" data-bs-target="#todoModal">
        <i class="bi bi-share"></i>
        Share
    </button>
</div>