{% macro render_tree(tree, path) %}
{% set prefix = path.replace(" ", "_").replace("/", "_") %}
<ul id="collapse-{{ prefix }}" class="ms-2 ps-2 border-start  collapse show collapse-{{ prefix }}">
    {% for key, value in tree.items() %}
    {% set id = (prefix + "_" if prefix else "") + key.replace(" ", "_") %}
    <li class="list-group-item dir-content">
        {% if value is mapping %}
        <span class="d-block" data-bs-toggle="collapse" data-bs-target=".collapse-{{ id }}" href="#collapse-{{ id }}"
            role="button" aria-controls="collapse-{{ id }} collapse-{{ id }}_caret" aria-expanded="true">
            <i class="bi bi-folder-fill"></i>
            {{ key }}
            <i class="bi bi-caret-right collapse-{{ id }} collapse no-transition" id="collapse-{{ id }}_caret"></i>
            <i class="bi bi-caret-down collapse-{{ id }} collapse show no-transition" id="collapse-{{ id }}_caret"></i>
        </span>
        {{ render_tree(value, (path + "/" if path else "") + key) }}
        {% else %}
        <a role="button" href="{{ url_for('edit_model', model_id=path+'/'+key) }}"
            class="d-flex gap-1 justify-content-between align-items-start mb-1 text-decoration-none file-tree-link">
            {% if current_model_id == path+'/'+key %}
            <i class="bi bi-file-earmark-fill"></i>
            <div class="fw-bolder">{{ key }}</div>
            {% else %}
            <i class="bi bi-file-earmark"></i>
            {{ key }}
            {% endif %}
            <div class="flex-fill"></div>
            <div class="badge rounded-pill border border-medium bg-light fw-bolder text-reset">{{ value }}</div>
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}