<!DOCTYPE html>
<html>

<head>
    <title>Node Editor</title>
    <style>
        #canvas {
            width: 100vw;
            height: 100vh;
        }

        .no-select {
            -webkit-user-select: none;
            /* Safari 3.1+ */
            -moz-user-select: none;
            /* Firefox 2+ */
            -ms-user-select: none;
            /* IE 10+ */
        }

        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="navbar">
        <button class="btn" id="btn-create">Create Node</button>
        <button class="btn" id="btn-connect">Connect Nodes</button>
        <button class="btn" id="btn-delete">Delete Nodes</button>
    </div>
    <svg class="no-select" id="canvas">
        <g id="graph">
            <g id="edges"></g>
            <g id="nodes"></g>
        </g>
    </svg>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>