<form id="node-settings-form">
    <div class="d-flex flex-column gap-3 overflow-scroll">
        <input type="text" class="form-control" name="node_id" value="{{ node_id }}" hidden>
        <input type="text" class="form-control" name="model_id" value="{{ model_id }}" hidden>
        {% for node_setting in node_settings %}
        <div class="form-group">
            <label for="{{ node_setting.name }}" class="form-label form-text">{{ node_setting.label
                }}:</label>
            {% if node_setting.inspector_type == "text" %}
            <input type="text" class="form-control" name="{{ node_setting.name }}" placeholder="{{ node_setting.name }}"
                value="{{ node_setting.value }}">
            {% elif node_setting.inspector_type == "number" %}
            <input type="number" class="form-control" name="{{ node_setting.name }}"
                placeholder="{{ node_setting.name }}" value="{{ node_setting.value }}">
            {% elif node_setting.inspector_type == "select" %}
            <select class="form-select" name="{{ node_setting.name }}">
                {% for option_label, option_value in node_setting.options %}
                <option value="{{ option_value }}" {% if option_value==node_setting.value %}selected{% endif %}>
                    {{ option_label }}
                </option>
                {% endfor %}
            </select>
            {% elif node_setting.inspector_type == "checkbox" %}
            <input type="checkbox" class="form-check-input" name="{{ node_setting.name }}">
            {% elif node_setting.inspector_type == "info" %}
            <p class="mb-0">{{ node_setting.value }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</form>